.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.rowCentered {
  justify-content: center;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.featureImage {
  max-width: 100%;
  width: min(1000px, 95vw);
  height: auto;
}
